<h2>Modify Answer</h2>
<form action = '/EditPage/{{i}}' method=post id = "addform">
New Answer<br>
<input type = "text" name = "title" placeholder = "title"  style="width: 200px;"><br>
<input type = "submit" value = "submit">
</form>
